* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.main {
    width: 60%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid black;
    margin: 20px;
}

.main h1 {
    font-size: 30px;
    display: flex;
    /* flex-direction: column; */
    position: absolute;
    top: 20px;
    height: 20%;
    margin: 20px;
}
.left{
    font-size: 25px;
    padding: 5px 15px;
    position: absolute;
    top: 400px;
    
    border-radius: 15px;
    background-color: antiquewhite;
    color: black;
}

img {
    width: 50%;
    height: 70%;
}